
@{
    ViewData["Title"] = "Home Page";
}



@{
    
    <h1> Este es el Proyectico de ASP .Net </h1>
    
    <h3>Aqui solo mostraremos Esta pagina principal y los datos siguientes:</h3>

    <ol>
        <li>Pagina principal (Esta vista)</li>
        <li>Vista demo de la pagina PackageList que representa datos de la tabla de paquetes de mi proyecto final</li>
        <li>Privacy(vista de privacidad predefinida de ASP.Net)</li>
    </ol>

}
